<html>
<head>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=516'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.js"></script>
    <script>
    // JS loader code from https://developer.twitter.com/en/docs/twitter-for-websites/javascript-api/guides/set-up-twitter-for-websites
    window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
    </script>
    <script type=text/javascript>
    $(document).ready(function() {
        $('#random').click(function() {
            doSearch();
        });
        $(".typeahead__container").on("keydown", function(e) {
            if (e.which == 13) {
                doSearch();
            }
        });
        $.typeahead({
            input: '.user-list',
            order: "desc",
            source: {
                ajax: {
                    url: "{{ url_for('.get_twitter_userlist') }}"
                }
            },
            callback: {
                onInit: function (node) {
                    console.log('Typeahead Initiated on ' + node.selector);
                }
            }
        });
        $.typeahead({
            input: '.search',
            callback: {
                onInit: function (node) {
                    console.log('Typeahead Initiated on ' + node.selector);
                }
            }
        });
    });
    function doSearch() {
        var data = {
            search: $('.search').val(),
            user: $('.user-list').val()
        }
        if ($('#deleted').prop('checked')) {
            data['deleted'] = 1;
        }
        if ($('#media').prop('checked')) {
            data['media'] = 1;
        }
        $.ajax({
            method: 'GET',
            url: "{{ url_for('.get_twitter_fav') }}",
            data: data,
            success: function(result) {
                $('#tweet').html(result);
                if (result.charAt(1) == "b") {
                    $('#tweet').hide();
                    twttr.widgets.load(document.getElementById("tweet"));
                }
            }
        });
    }
    twttr.ready(function (twttr) {
        twttr.events.bind('rendered',
            function (event) {
                $('#tweet').show();
            }
        );
    });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.css" />
    <style>
        body {background-color: lightblue;}
        .wrapper {display: inline-block; position: relative; width: 500px;}
        .column {float: left;}
        .newcolumn {float: left; margin-left: 20px;}
        input {margin-bottom:5px;}
        .tweettext {border-bottom: 2px solid black; padding-bottom: 5px;}
        .typeahead__field, .typeahead__list{width:300px;}
        #tweet {width: 500px;}
        .tweetmedia {max-width:500px;}
        #random {width:100px; height:100px; font-size: 2em; position: absolute; right: 0; top: 0;}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="typeahead__container">
            <div class="typeahead__field">
                <span class="typeahead__query">
                    <input class="user-list" name="user-list[query]" type="search" placeholder="Username" autocomplete="off">
                </span>
            </div>
        </div><br>
        <div class="typeahead__container">
            <div class="typeahead__field">
                <span class="typeahead__query">
                    <input class="search" name="search[query]" type="search" placeholder="Text to search" autocomplete="off">
                </span>
            </div><br>
        <input type="checkbox" id="deleted" value="deleted" />Deleted
        <input type="checkbox" id="media" value="media" />Tweets with media
        </div>
        <button class="nohover" id="random">♻️</button>
        <div id="tweet"></div>
    </div>
</body>
</html>
