# Set SECRET_KEY to a random string. The official Flask documentation recommends this method:
# python -c 'import os; print(os.urandom(16))'
SECRET_KEY = b''

BP_EXCLUDE = []

MYSQL = {
    'host': '',
    'user': '',
    'passwd': ''
}

SPOTIFY = {
    'client_id': '',
    'client_secret': ''
}

TWITTER = {
    'consumer_key': '',
    'consumer_secret': '',
    'access_key': '',
    'access_secret': '',
    'oauth2_key': '',
    'oauth2_secret': ''
}

YOUTUBE = {
    'api_key': ''
}

SLACK = {
    'user_token': '',
    'signing_secret': '',
    'bot_token': ''
}

TWITCH = {
    'client_id': '',
    'client_secret': '',
    'user_token': '',
    'graphql_token': '',
    'graphql_client_id': '',
}

DISCORD = {
    'api_endpoint': '',
    'client_id': '',
    'client_secret': '',
    'public_key': '',
    'app_id': '',
    'dvvi_id': '',
    'cred_token': ''
}

REDDIT = {
    'client_id': '',
    'client_secret': '',
    'user_agent': ''
}
